<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeAfterFloods</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oxygen&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <nav>
            <img src="tt.jpg" alt="HopeAfterFloods Logo" id="logo">
            <span class="logo-text"><a style="text-decoration: none; color: azure;" href="home.ejs">HopeAfterFloods</a></span>
            <div class="right">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="food.html">Food</a></li>
                    <li><a href="medicine.html">Medicine</a></li>
                    <li><a href="others.html">cloths</a></li>
                    <li><a href="/">volintires</a></li>
                    <li>
                        <form class="search-form">
                            <input type="text" placeholder="What are you looking for">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                    <li>
                        <a href="/donarsignup" class="donate-button">Donate Now</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="left">
                    <section class="firstsection">
                        <div class="leftsection">
                            Hi my name is <span class="purple">Dhilli</span>
                            <div>and I am passinate</div>
                            <span id="element"></span>
                        </div>
            
                    </section>
                </div>
                <div class="right">
                    <h2>Welcome to 'Last Hope' – A Beacon of Support in Times of Natural Disasters</h2>
                    <div class="donateToInd">
                        <h2>Support us with your donation</h2>
                        <p>At LastHope, we believe in the strength of community and compassion. Our mission is to extend
                            a helping hand to those facing the devastation caused by floods. We are dedicated to being a
                            source of support, a glimmer of hope, and a beacon of resilience during times of crisis..
                        </p>
                        <p>LastHope is more than a website; it's a lifeline for those affected by floods. We stand for
                            unity, disaster relief, and the spirit of humanity coming together. Our team is committed to
                            providing aid, resources, and support to those in need. <a
                                href="21pa1a0467@vishnu.edu.in">21pa1a0467@vishnu.edu.in</a>.We assure to take full
                            responsibility to rationally distribute the donation, for the projects and campaigns who are
                            in
                            most need.&nbsp;</p>
                        <p>Join us in our mission. Whether you volunteer, donate, or simply spread the word, your
                            involvement can help us reach more people and extend a helping hand even further.

                            LastHope is not just a website; it's a symbol of hope, resilience, and the strength of human
                            compassion. Together, we can make a lasting difference in the lives of those affected by
                            flooding disasters. Thank you for being a part of our mission</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container2">
                <div class="heading1">Support a Cause</div>
                <hr class="line">
                <div class="hCauses">

                    <div class="box">
                        <span class="pic">
                            <img
                                src="https://www.indiablooms.com/postcard_pic/2020/2f4c74b01adaae157e94ab0f857b5ee0.jpg">
                            <span class="themeCause">Food Distrubution</span>
                        </span>
                        <div class="info">
                            <div class="txt">
                                <h3>Save The Hunger</h3>
                                <span class="ngo">
                                    <a href="https://pmnrf.gov.in/en/">
                                        <span class="icon"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEXMNWn5LnY4rJJU9VdOsv8d-k0su-SRkkcu_SkpFRBaef6C5o"></span>
                                        <span class="name">Food Donation campain of India</span>
                                    </a>
                                </span>
                                <div class="desc">
                                    <p>"Save Hunger" is a heartfelt initiative dedicated to addressing the critical
                                        issue of food scarcity and malnutrition around the world. This noble cause aims
                                        to combat the plight of those suffering from hunger, especially vulnerable
                                        communities and children. By providing nourishment and food resources, "Save
                                        Hunger" contributes to improving the lives and overall well-being of those in
                                        need.
                                    </p>
                                </div>
                                <span class="raised">₹85,257</span>
                                <span class="raisedOf">raised of 517000 goal</span>
                            </div>
                            <div class="achivedSlider"><span style="width:16.5%;"></span></div>
                            <div class="daysLeft">
                                <span class="days">On going</span>
                                <span class="supporter">70 supporters</span>
                            </div><span class="donate"><a href="food.html">More</a></span>
                        </div>
                    </div>
                    <div class="box">
                        <span class="pic">
                            <img
                                src="https://www.sentinelassam.com/wp-content/uploads/2019/01/44a06a10-99a4-11e8-81c9-1b431fd718bc-rimg-w525-h350-dcd9bea7-gmir.jpg">
                            <span class="themeCause">Basic Clothing</span>
                        </span>
                        <div class="info">
                            <div class="txt">
                                <h3>Help to Basic clothing</h3>
                                <span class="ngo">
                                    <a href="https://www.donateinkind.in/clothes-donation">
                                        <span class="icon"><img
                                                src="https://img.lovepik.com/free-png/20211202/lovepik-clothes-icon-free-vector-illustration-material-png-image_401273946_wh1200.png"></span>
                                        <span class="name">cloth donation copration of India</span>
                                    </a>
                                </span>
                                <div class="desc">
                                    <p>"Our 'Basic Clothing Distribution' program is a heartfelt endeavor to provide
                                        essential clothing to those in need. We believe that clothing is more than just
                                        fabric; it's about preserving human dignity and ensuring protection from the
                                        elements. Our mission is to offer underprivileged individuals, particularly
                                        girls and women, the opportunity to lead better lives.</p>
                                </div>
                                <span class="raised">₹47,842</span>
                                <span class="raisedOf">raised of 550000 goal</span>
                            </div>
                            <div class="achivedSlider"><span style="width:8.7%;"></span></div>
                            <div class="daysLeft">
                                <span class="days">On going</span>
                                <span class="supporter">58 supporters</span>
                            </div><span class="donate"><a
                                    href="others.html">More</a></span>
                        </div>
                    </div>
                    <div class="box">
                        <span class="pic">
                            <img src="https://www.amritapuri.org/photos/18-klflood/18flood-12.jpg">
                            <span class="themeCause">Income Generation</span>
                        </span>
                        <div class="info">
                            <div class="txt">
                                <h3>Provide Medicine to the needes</h3>
                                <span class="ngo">
                                    <a href="/ngos/manthan-sanstha">
                                        <span class="icon"><img
                                                src="https://www.adinath.co.in/wp-content/uploads/2023/01/3A72EAEE00000578-0-image-a-157_1479318972144.jpg"></span>
                                        <span class="name">Manthan Sanstha</span>
                                    </a>
                                </span>
                                <div class="desc">
                                    <p>"We are reaching out with a heartfelt request to support the field of medicine.
                                        Your generous donation can be a lifeline for critical medical research, patient
                                        care, and healthcare advancement. In these trying times, the need for financial
                                        aid in the medical sector is more pressing than ever. Your contribution,
                                        regardless of its size, holds the power to save lives and improve the quality of
                                        healthcare for countless individuals. Please consider joining us in our mission
                                        to create a healthier world</p>
                                </div>
                                <span class="raised">₹44,102</span>
                                <span class="raisedOf">raised of 850000 goal</span>
                            </div>
                            <div class="achivedSlider"><span style="width:5.2%;"></span></div>
                            <div class="daysLeft">
                                <span class="days">On going</span>
                                <span class="supporter">20 supporters</span>
                            </div><span class="donate"><a
                                    href="medicine.html">More</a></span>
                        </div>
                    </div>
                </div>
                <div class="linkBtn">
                    <a href="medicine.html" class="showMoreCampBtn">Show More</a>
                </div>
            </div>
        </section>
        <div class="container2">
            <div class="heading1">Our Donars</div>
            <div class="container-donation">

                <ul>
                    
                    <% if (allDonationData) { %>
                        <% allDonationData.forEach((donation) => { %>
            
                        <li class="donation-item">
                            <img class="don" src="<%= donation.image %>" alt="Donation Image"><br>
            
                            <strong>Name:</strong> <%= donation.name %><br>
                            <strong>Cause:</strong> <%= donation.cause_id %><br>
                            <strong>Donation Amount:</strong> ₹<%= donation.donationAmount %><br>
                            <!-- <strong>PAN Number:</strong> <%= donation.PanNo %><br> -->
                            <!-- <strong>Kept Confidential:</strong> <%= donation.kept_confidential ? 'Yes' : 'No' %><br> -->
                            <!-- <strong>Hereby Declare:</strong> <%= donation.hereby_declare ? 'Yes' : 'No' %><br>
                            <strong>80G Receipt:</strong> <%= donation.Receipt80g ? 'Yes' : 'No' %><br> -->
                        </li>
                
                        <% }); %>
                    <% } else { %>
                        <p>No donation data available.</p>
                    <% } %>
                </ul>
    
            </div>
            <hr class="line">
            <div class="hCauses">

                <div class="box">
                    <span class="pic">
                        <img
                            src="https://pps.whatsapp.net/v/t61.24694-24/379347019_843184820432701_7906724289867410680_n.jpg?ccb=11-4&oh=01_AdSm-FCCYgsoBI9DknewdV8yj2zI_rqdKnHq483uy8w7ng&oe=652FE3AA&_nc_sid=000000&_nc_cat=104">
                        <span class="themeCause">Helping hands towards hungery</span>
                    </span>
                    <div class="info">
                        <div class="txt">
                            <h3>Vamsi Krishna</h3>
                            <!-- <span class="ngo">
                                <a href="https://pmnrf.gov.in/en/">
                                    <span class="icon"><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEXMNWn5LnY4rJJU9VdOsv8d-k0su-SRkkcu_SkpFRBaef6C5o"></span>
                                    <span class="name">Food Donation campain of India</span>
                                </a>
                            </span> -->
                            <div class="desc">
                                <p>vamsi krishna has donated the 10000000000000 rupees towards the hunger people and to
                                    make them happy and joy in their faces
                                </p>
                            </div>
                            <span class="raised">₹1000000000000</span>
                            <span class="raisedOf">to the hungery people</span>
                        </div>
                        <!-- <div class="achivedSlider"><span style="width:16.5%;"></span></div>
                        <div class="daysLeft">
                            <span class="days">On going</span>
                            <span class="supporter">70 supporters</span>
                        </div>--><span class="donate"><a href="">See more
                                supporter</a></span>
                    </div>
                </div>
                <div class="box">
                    <span class="pic">
                        <img
                            src="https://pps.whatsapp.net/v/t61.24694-24/383707477_175768605571442_711261194214938853_n.jpg?ccb=11-4&oh=01_AdQhNyZUP5-yUOlAitXb70sgrl3QSVAChuHDHpeW1LIRXw&oe=653297F8&_nc_sid=000000&_nc_cat=100">
                        <span class="themeCause">Helping hands towards clothing</span>
                    </span>
                    <div class="info">
                        <div class="txt">
                            <h3>Kalava Dhilli Rao</h3>
                            <!-- <span class="ngo">
                                <a href="/ngos/rajasthan-samgrah-kalyan-sansthan">
                                    <span class="icon"><img
                                            src="/ngo_docs/Rajasthan-Samgrah-Kalyan-Sansthan-RSKS-20210729-190720-NgoLogo.jpg"></span>
                                    <span class="name">Rajasthan Samgrah Kalyan Sansthan (RSKS)</span>
                                </a>
                            </span> -->
                            <div class="desc">
                                <p>Kalava Dhilli Rao ha donated the 1000000 rupees to solve the basic clothing problems
                                    of maney people</p>
                            </div>
                            <span class="raised">₹100000</span>
                            <span class="raisedOf">to the clothing of the poor people</span>
                        </div>
                        <!-- <div class="achivedSlider"><span style="width:8.7%;"></span></div>
                        <div class="daysLeft">
                            <span class="days">On going</span>
                            <span class="supporter">58 supporters</span>
                        </div>--><span class="donate"><a
                                href="">See
                                more supporter</a></span>
                    </div>
                </div>
                <div class="box">
                    <span class="pic">
                        <img
                            src="https://pps.whatsapp.net/v/t61.24694-24/383744865_170052966152095_7383586748590519720_n.jpg?ccb=11-4&oh=01_AdSSfr_474OmL8PKlWJw9W7mBnMnIDfYxIenKcHypw33XQ&oe=65328C71&_nc_sid=000000&_nc_cat=109">
                        <span class="themeCause">Helping hands towards the medical support</span>
                    </span>
                    <div class="info">
                        <div class="txt">
                            <h3>allacheruvu Ravindra </h3>
                            <!-- <span class="ngo">
                                <a href="/ngos/manthan-sanstha">
                                    <span class="icon"><img
                                            src="/ngo_docs/Manthan-Sanstha-20210729-170749-NgoLogo.jpg"></span>
                                    <span class="name">Manthan Sanstha</span>
                                </a>
                            </span> -->
                            <div class="desc">
                                <p>A heartfelt thank-you note or personalized video message can convey gratitude. Public
                                    recognition, such as social media or special events, and dedicating a space in a
                                    healthcare facility can immortalize the donor's generosity. Involving them through
                                    visits and updates on the donation's impact fosters a connection. Handwritten
                                    letters from beneficiaries showcase the real-life difference made, and ongoing
                                    communication maintains the relationship</p>
                            </div>
                            <span class="raised">₹44,000</span>
                            <span class="raisedOf">Donated 10000 towards the medical support</span>
                        </div>
                        <!-- <div class="achivedSlider"><span style="width:5.2%;"></span></div>
                        <div class="daysLeft">
                            <span class="days">On going</span>
                            <span class="supporter">20 supporters</span>
                        </div>--><span class="donate"><a
                                href="home.ejs">See
                                more supporter</a></span>
                    </div>
                </div>
            </div>
            <div class="linkBtn">
                <a href="#" class="showMoreCampBtn">More Donars</a>
            </div>
        </div>
    </main>
    </main>
    <footer id="footer" class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4 class="fw-bold">Menu</h4>
                    <ul>
                        <li><a href="/">Appeals</a></li>
                        <li><a href="/">Get Involved</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="/">Contact</a></li>
                        <li><a href="/">About US</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="fw-bold">Most needy</h4>
                    <ul>
                        <li><a href="https://childrenofadam.org/appeals/yemen-emergency-appeal">Yemen Emergency</a></li>
                        <li><a href="https://childrenofadam.org/appeals/syrian-refugee/">Syria Emergency</a></li>
                        <!-- Add more needy links here -->
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="fw-bold">Contact Us</h4>
                    <p>Bhimavaram<br>vishnu institute of technology<br>main</p>
                    <p> <a href="vishnu@gmail.com">vishnu@gmail.com</a><br><strong>T</strong> <a
                            href="tel:9946593985">9946593985</a></p>
                </div>
                <div class="footer-col">
                    <img src="hh.jpg" alt="HopeAfterFloods" width="278" height="103">
                </div>
                <div class="socialMedia">
                    <h5>Follow Us On</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/IndiadonatesID/" target="_blank"><i
                                    class="fa fa-facebook"></i><span>facebook</span></a></li>
                        <li><a href="https://twitter.com/indiadonatesID" target="_blank"><i class="fa fa-twitter"></i>
                                <span>twitter</span></a></li>
                        <li><a href="https://www.instagram.com/indiadonatesid/" target="_blank"><i
                                    class="fa fa-instagram"></i> <span>instagram</span></a></li>
                        <li><a href="https://www.youtube.com/channel/UC1yLdXjfyKUfZ_Gu8M4sLuA" target="_blank"><i
                                    class="fa fa-youtube"></i> <span>youtube</span></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <p class="copyright" style="opacity: 0.5; font-size: 11px;">Charity Registration Number:
                        1153244<br>© Children of Adam 2023</p>
                    <p class="copyright" style="opacity: 0.5; font-size: 11px;">Designed & Developed by <a
                            style="font-size: 12px;" target="_blank" class="text-white"
                            href="https://brand786.com">Brand786</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="home.js"></script>


</body>

</html>